.effecteingabe  {
	/* Eingabeformular gestaltet  >=IE5.5 / NS6.2 */ 
	filter : progid:dxImageTransform.Microsoft.dropShadow(color=silver,offX=3,offY=3,positive=true);
	border : 1px solid black;

}

.input {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: black;
}