body { 	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #006699; margin: 5px 5px 5px 5px; }

.a:link{
	text-decoration:underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.a:hover{ text-decoration:underline; font-weight:bold; }

td.zentriert {
	vertical-align: top;
	text-align: center;
}

table.rand { background-color="#000000";
	background-color: #000000;
}
table.navi { background-color="#FDF5E6";
	background-color: #FDF5E6;
}
table.content { background-color="#EEFDE5";
	background-color: #EEFDE5;
}

td.norm {
	display: block;
   font: 8pt Arial, sans-serif;
	font-weight: bold;

	background: #9CA7B2;
	padding-bottom: 3px;
	color: white;
	
	text-align: center;
	text-decoration: none;
	width: 17%;
 }
 
td.norm_link { color: Black; }
 
.navi a {
	display: block;
	font: 8pt Arial, sans-serif;
	font-weight: bold;
	background: #9CA7B2;
	color: white;
	text-align: left;
	text-decoration: none;
	padding-left: 4px;
	
 }
	
.navi a:hover { background: #C1C9D5; color: #000000; }
.zwischen {
	font-size: 9pt;
	font-style: normal;
	line-height: 150%;
	font-weight: bold;
	color: #000000;
}
.haupt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.zwischen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: italic;
	line-height: 150%;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}
.wichtig {
	color: #FF0000;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: 130%;
	color: #000000;
}
.fett {
	font-weight: bold;
}
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #666666;
}
.bild {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #666666;
}
.fluss_rechts { float:left; color:red; }
