body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #006699;  }

 A.navi {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
 	background-color: #F0F8FF;
	text-align: left;
	font-weight : bold;
	color : #006699;
	text-decoration : none;
	width: 120px;
	padding: 3px 3px 3px 3px;
	display: block;
	/*width: 110px;*/
	border-style: solid;
	border-width: 1px;
 }

 A.navi:hover {
 	text-decoration: underline;
	border-style: solid;
	border-width: 1px;
	border-color: #6100C1;
	color: #000000;
 	background-color: #f0f1ff;
 }

A.navi:link {color : #333333; text-decoration : none;}
A.navi:visited {color : #333333; text-decoration : none;}