@charset "utf-8";

body { 	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #006699; margin: 0; }

/* ------------------------------------------------------------------------
        Login - Logout - Login failed - Verboten - schon eingeloggt		
--------------------------------------------------------------------------- */
/*

#loginform, #logfailform, #logoutform, #logfailform, #loggedinform {
background: #ddd;
border: 1px solid #666;
font-size: 1.4em;
color: #333;
position: absolute;
width: 400px;
height: 260px;
top: 50%;
left: 50%;
margin-top: -130px;
margin-left: -200px;
padding: 20px;
border-radius: 10px;
}

#logfailform {
text-align: center;
border: 8px solid green;
}

#logoutform {
text-align: center;
border: 8px solid red;
}

#logfailform, #loggedinform {
text-align: center;
border: 8px solid orange;
}

.innerdiv {
	background-color: white;
	height: 100%;
}

input[type="text"], input[type="password"] {
   font-size: 1.3em; padding: 5px 12px; 
   font-family: Arial, sans-serif;
   font-weight: 300;
   color: teal;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 5px;
   margin-left: 1em;
}

input[type="submit"].login {
   font-size: 1.3em; padding: 5px 12px; 
   font-family: Arial, sans-serif;
   font-weight: 300;
   color: teal;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 10px;
}

label { display: inline-block; width: 7em; }

.submitlogin {
	margin-left: 9em;
	margin-top: 1em;
}

.inputlogin {
	margin-bottom: 1em;
}

#einloggen {
	margin-top: 2em;
}

#logfailform h3, #logfailform h3 {
	margin-top: 0;
	line-height: 150%;
}

.back {
	width: 80%;
	margin: 0 auto;
   border: 1px solid silver;
   background-image: linear-gradient(to top, gainsboro 0%, white 90%);
   border-radius: 10px;
}

 .back a{
   font-size: 2em; 
   padding: 5px 12px; 
   font-family: Arial, sans-serif;
   font-weight: 300;
   color: teal;
}

 .back a:hover{
   font-size: 2em; 
   padding: 5px 12px; 
   font-family: Arial, sans-serif;
   font-weight: 300;
   color: orange;
}
*/

/* --------------------------------------------------------------------------------- */


td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; }
h1 { font-size: 10pt; font-weight: bold; color: #505748; }
h2 {
	font-size: 12pt;
	font-weight: bold;
	color: #646482;
}
h3 {
	font-size: 12pt;
	font-weight: bold;
}
a {
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}
.author { font-weight: bold; }
.navhead { font-size: 8pt; font-weight: bold; color: #505748; }
.caption { 	font-style: italic; }
.error { font-weight: bold; color: #990000; }
.effecteingabe  { border : 1px solid black; }
.eingabe {
	border : 1px solid black;
}

.adselect { background-color:#FF66CC; font-weight:bold; color:#FFFFFF; width:70px; border:1px solid #ddd; }
.aqselect { background-color:#3366ff; font-weight:bold; color:#FFFFFF; width:70px; border:1px solid #ddd; }

.warnwhite
{
font-size: 10pt;
	font-weight: bold;
	color: white;
}

.Stil1 {color: #FFFFFF;}

.Stil2 {
	color: #CC0000;
	font-weight: bold;
}

.top  {
	background-color: #F0F8FF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;	font-style : normal;	font-weight : bold;	text-align : left;
	color : #006699; 	text-decoration : none; padding-right: 2px;}

.top a:link {color : #333333; text-decoration : none;}
.top a:visited {color : #333333; text-decoration : none;}
.top a:active {color : red;font-weight: bold; text-decoration : none;}
.top a:hover {color : black; font-weight: bold; text-decoration : underline;}

.navi { PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; COLOR: #006699; PADDING-TOP: 1px; FONT-FAMILY: Arial, Helvetica, Verdana, Geneva, sans-serif; BACKGROUND-COLOR: #F0F8FF
}

.input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: black; }

.top2  {
	background-color: #ACD9FF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;	font-style : normal;	font-weight : bold;	text-align : left;
	color : #006699;
	text-decoration : none; padding-right: 2px;}
	
.zeiten {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #EEEEEE;  }
.toa {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFFF00;  }
.termin {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFFF00;  }
.bearbeitet {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFD700;  }
.toas {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFD700;  }
.samstag {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFFACD;  }
.sonntag {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #EEE8AA;  }
.sperrzeit {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FF99FF;  }
.abschluss {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #00FF00;  }
.doppelt {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #000000;  }
.kalt {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #00eaff;  }
.test {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #00a8ff;  }
.storno {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #ff3333;  }
.nichtkunde {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #999999;  }
.wvl {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFCCCC;  }
.wvlalt {  font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-weight: lighter; line-height: normal;  text-align: center;  background-color: #FFE6CC;  }
.spalten { border: 1px; font-family: Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; line-height: normal; text-align: center;  background-color: #EEEEEE;}
.liste {  font-family: Arial, Helvetica, sans-serif; font-size: x-small; line-height: 2em;  text-align: left;  }
.liste a:link {font-family: Arial, Helvetica, sans-serif;}
.liste a:visited {font-family: Arial, Helvetica, sans-serif;}
.liste a:active {font-family: Arial, Helvetica, sans-serif;}
.liste a:hover {color: red;  text-decoration: none;  }

.rahmen1px {border: 1px; }

.submitt, .submittad, .submittbreit {
	border-top: 1px solid #203C5E;
	border-bottom: 1px solid #203C5E;
	border-left: 1px solid #203C5E;
	border-right: 1px solid #203C5E;
	background-color: #9b0013;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.submittbreit { width: 150px; }
.submittad { font-size: 10pt; line-height: 200%; width: 100px; }

.test, .testad, .testbreit {
	border-top: 1px solid #203C5E;
	border-bottom: 1px solid #203C5E;
	border-left: 1px solid #203C5E;
	border-right: 1px solid #203C5E;
	background-color: #3399ff;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.testbreit {	width: 150px; }
.testad { line-height: 200%; width: 100px; }


.suche, .suchead, .suchebreit {
	border-top: 1px solid #203C5E;
	border-bottom: 1px solid #203C5E;
	border-left: 1px solid #203C5E;
	border-right: 1px solid #203C5E;
	background-color: #997F00;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.suchebreit {	width: 150px; }
.suchead { line-height: 200%; width: 100px; }

.correct, .correctad, .correctbreit {
	border-top: 1px solid #203C5E;
	border-bottom: 1px solid #203C5E;
	border-left: 1px solid #203C5E;
	border-right: 1px solid #203C5E;
	background-color: #D8E1EC;
	color: #006699;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.correctbreit {	width: 150px; }
.correctad { line-height: 200%; width: 100px; }