body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; background-color: #006699; margin: 0px; text-align: center; }

#main {
	width:950px; 
	margin:20px auto; 								/*oben - rechts - unten - links*/
	text-align:left;
	background-color: #ffffe0;
	border: 1px solid black;
}

#navi {
border-right:1px dotted gray;
border-bottom:1px dotted gray;
background-color: #f0f0ff;
width:120px	;
float:left;
}

#navi UL {
	list-style-type: none;
	margin:0; padding:0;
}

#navi LI {
	width: 100%; display: block; text-decoration: none;

}

#navi A {
	margin: 0; 
	padding: 0.25em 0.5em 0.25em 1em;
	TEXT-DECORATION: none;
	display: block;
	color: maroon;
}

#navi A:hover {
	margin: 0; 	padding: 0.25em 0.5em 0.25em 1em;
	display: block;
	background-color: #6495ed;
	color: #fffaf0;
}

#inhalt {
	float:right;
	width:810px; 
	margin:10px 5px 5px 10px; 								/*oben - rechts - unten - links*/
	clear: both;
}

p {
	font-size: 1.2em;
	color: #696969;
}

.seitenname {
	font-size: 1.5em;
	color: #696969;
	font-weight: bold;
}

hr {
	width: 100%;
	height: 1px;
}

.imagelinks {
	float:left;
	margin-right:20px;
	vertical-align:text-top
}
.imagelinksunten {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	vertical-align:text-top
}
.tipp {
	font-size: 8pt;
	font-style: italic;
	color: #0000FF;
}


.achtung {
	font-weight: bolder;
	color: #FF0000;
}
.clearer { clear: both; height: 1px; line-height: 1px; font-size: 1px; }

h2 {font-size:1.4em; color:#990000; }

table {
	border: 1px solid gray;
	padding: 2px 2px 2px 2px;
	font-size: 1em;
	color: #696969;
	background-color: #FFFFFF;
	}
td {
	border-right: 1px dotted gray;
	border-bottom: 1px dotted gray;
	line-height: 1.5em;
	}
li {
	font-size: 9pt;
	color: #696969;
	line-height: 1.5em;
}