  <ul>
    <li><a href="hilfe.htm" target="_self">START</a></li>
	<li><a href="einloggen.htm" target="_self">Ein-/Ausloggen</a></li>
	<li><a href="telefonieren.htm" target="_self">Telefonieren</a></li>
	<li><a href="plz.htm" target="_self">PLZ-Kunden</a></li>
	<li><a href="suche.htm" target="_self">Suche</a></li>
	<li><a href="orte.htm" target="_self">Orte</a></li>
	<li><a href="ortsteile.htm" target="_self">Ortsteile</a></li>
	<li><a href="gesellschaften.htm" target="_self">Gesellschaften</a></li>
	<li><a href="tarife.htm" target="_self">Tarife</a></li>
	<li><a href="branchen.htm" target="_self">Branchen</a></li>
	<li><a href="termine.htm" target="_self">Termine</a></li>
	<li><a href="sperrzeiten.htm" target="_self">Sperrzeiten</a></li>
	<li><a href="rueckaq.htm" target="_self">R&uuml;cklauf Telefonist </a></li>
	<li><a href="rueckad.htm" target="_self">R&uuml;cklauf Au&szlig;endienst </a></li>
	<li><a href="gruppen.htm" target="_self">Gruppen</a></li>
	<li><a href="logins.htm" target="_self">Logins</a></li>
  </ul>
